<h1>DASHBOARD - {{loggedInUser}}</h1>

<div class="postsClass">
    {{#each posts}}
    <div id="bp-border">
        <a href="/edit/{{id}}" id="blog-post" class="navbar navbar-expand-lg p-1">
            <h2 class="p-3">{{title}}</h2>
            <ul class="navbar-nav ms-auto p-3">
                <li>Created: {{format_date createdAt}} |</li>
                <li>| Author: {{author}}</li>
            </ul>
        </a>
            <p class="p-3">
                {{postText}}
            </p>
    </div>
    {{/each}}
</div>

<button id="newPost" class="btn btn-primary">+ New Post</button>

<script src="./js/logout.js"></script>