<h1>Update Current Post</h1>
<div class="postsClass">
    <div>
        <p class="p-3">
            <h2>Title</h2>
            <input class="p-3 w-75" id="title" value="{{posts.title}}"></input>
            <h2>Content</h2>
            <textarea type="text" id="postContent" class="w-75 p-3">{{posts.postText}}"</textarea>
        </p>
    </div>
    <ul class="navbar-nav ms-auto p-3">
        <li>Created: {{format_date posts.createdAt}}</li>
        <li>Updated: {{format_date posts.updatedAt}}</li>
        <li>Author: {{posts.author}}</li>
    </ul>
    <button id="update" class="btn btn-primary">UPDATE</button>
    <button id="delete" class="btn btn-primary">DELETE</button>
</div>

<script src="/js/logout.js"></script>
<script src="/js/update.js"></script>
<script src="/js/delete.js"></script>