<div class="postsClass">
    {{#each posts}} 
    <div class="row mb-4 project">
        <div class="col-md-5">
            <h2>
               ID: {{id}}-- Title {{title}}-- Created At: {{created_at}}-- Author: {{author}}
            </h2>
        </div>
        <div class="col-md-7">
            <p>
                {{post_text}}
            </p>
        </div>
    </div>
    {{/each}}
</div>