<h1>Add Your Comment</h1>
<div class="postsClass">
    <div id="bp-border">
        <div id="blog-post" class="navbar navbar-expand-lg p-1">
            <h2 class="p-3">{{posts.title}}</h2>
            <ul class="navbar-nav ms-auto p-3">
                <li>Created: {{format_date posts.createdAt}} |</li>
                <li>| Author: {{posts.author}}</li>
            </ul>
        </div>
            <p class="p-3">
                {{posts.postText}}
            </p>
    </div>
</div>
<div class="postsClass">
    <form id="bp-border">
        <div id="blog-post" class="navbar navbar-expand-lg p-1">
            <h2 class="p-3">Comment</h2>
        </div>
            <p class="p-3">
                <input type="text" name="comment" id="newComment" class="w-75">
            </p>
        <button type="submit">SUBMIT</button>
    </form>
</div>

{{#if logged_in}}
<script src="./js/logout.js"></script>
{{else}}
<script src="./js/login.js"></script>
{{/if}}