<div class="postsClass">
    <div id="bp-border">
        <div id="blog-post" class="navbar navbar-expand-lg p-1">
            <h2 class="p-3">{{posts.title}}</h2>
            <ul class="navbar-nav ms-auto p-3">
                <li>Created: {{format_date posts.createdAt}} |</li>
                <li>| Author: {{posts.author}}</li>
            </ul>
        </div>
        <p class="p-3">
            {{posts.postText}}
        </p>
    </div>
</div>
<div class="postsClass">
    {{#each posts.comments}}
    <div id="bp-border">
        <div id="comment" class="navbar navbar-expand-lg p-1">
            <h4 class="p-3">{{commentText}}</h4>
            <ul class="navbar-nav ms-auto p-3">
                <li>Created: {{format_date createdAt}} |</li>
                <li>| Author: {{author}}</li>
            </ul>
        </div>
    </div>
    {{/each}}
</div>
<div class="postsClass">
    <div id="bp-border">
        <div id="blog-post" class="navbar navbar-expand-lg p-1">
            <h2 class="p-3">New Comment</h2>
        </div>
        <p class="p-3">
            <textarea type="text" name="comment" id="newComment" class="w-75"></textarea>
        </p>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">SUBMIT</button>
</div>

<script src="/js/logout.js"></script>
<script src="/js/comments.js"></script>
